.container {
	display: flex;
	background-color: #7392b7;
	padding: 1rem;
	overflow: hidden;
}

.company-container {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 0.5rem;
}

.company-container-p {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	color: rgb(255, 255, 255);
}

/* navigation */

.primary-navigation-mobile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	gap: 4rem;
	margin: 0 4rem 0 0;
	padding: 0 2rem 0 0;
}

.nav-list-desktop {
	display: flex;
	align-items: center;
	gap: 3rem;
}

ul {
	list-style: none;
}

li {
	letter-spacing: 0.15rem;
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
}

li:nth-child(1):hover,
li:nth-child(2):hover,
li:nth-child(3):hover {
	color: #d8e1e9;
	border-bottom: 2px solid #d8e1e9;
}

.login-button-desktop {
	letter-spacing: 0.15rem;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.4rem 2.5rem;
	background-color: transparent;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	cursor: pointer;
}

.login-button-desktop:hover {
	color: #d8e1e9;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: white;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation-mobile {
	display: none;
}

@media (max-width: 768px) {
	.primary-navigation-desktop {
		display: none;
	}

	.primary-navigation-mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 0;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		background-color: #7392b7;
		top: 3.5rem;
		right: 0;
		position: absolute;
	}

	.nav-list-mobile {
		display: block;
		align-items: center;
		gap: 0rem;
		padding-bottom: 1rem;
	}

	li {
		padding: 0.4rem 2.5rem;
		letter-spacing: 0.15rem;
		color: rgb(255, 255, 255);
		font-size: 1.2rem;
		font-weight: 600;
		cursor: pointer;
	}

	.mobile-nav-toggle {
		display: block;
		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	.login-button-mobile {
		letter-spacing: 0.15rem;
		font-size: 1.2rem;
		font-weight: 600;
		padding: 0.4rem 2.5rem;
		background-color: transparent;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		text-align: left;
	}
	.login-button-mobile:hover {
		color: #d8e1e9;
		border: 0;
		border-bottom: 2px solid #d8e1e9;
		border-radius: 0;
	}
}
